services:
  # Production overrides
  jenkins:
    volumes:
      - jenkins_data:/var/jenkins_home
      - ./jenkins-casc:/var/jenkins_home/casc_configs:ro
      - ./pki-data:/etc/pki:ro
    restart: always

  keycloak:
    command: ["start", "--optimized", "--import-realm"]
    volumes:
      - ./keycloak-data:/opt/keycloak/data/import
      - keycloak_data:/opt/keycloak/data
    restart: always

  nginx:
    restart: always

volumes:
  jenkins_data:
  keycloak_data:
